In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Import raw data
import_df=pd.read_csv("../Data_Sources/Metro_Nashville___Davidson_County_Traffic_Crashes__2018_.csv")
import_df.head(2)

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,Zip,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20181075326,12/31/2018 11:10:00 PM,1.0,0,0,NaN,N,240964.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CURB;SHRUBBERY,ROCKWOOD DR & SADDLESTONE DR,HERMITAGE,TN,37076.0,9557.0,HERMIT,36.1769,-86.5971,"(36.1769, -86.5971)"
1,20181075323,12/31/2018 11:09:00 PM,3.0,1,0,NaN,N,110062.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT;PARKED MOTOR VEHICLE,SPRING ST & N 1ST ST,NASHVILLE,TN,37213.0,1985.0,CENTRA,36.1770,-86.7746,"(36.177, -86.7746)"

In [3]:
import_df.dtypes

Accident Number                 int64
Date and Time                  object
Number of Motor Vehicles      float64
Number of Injuries              int64
Number of Fatalities            int64
Property Damage                object
Hit and Run                    object
Reporting Officer             float64
Collision Type Code           float64
Collision Type Description     object
Weather Code                  float64
Weather Description            object
Illumination Code             float64
Illumination Description       object
Harmful Code                   object
Harmful Code Description       object
Street Address                 object
City                           object
State                          object
Zip                           float64
RPA                           float64
Precinct                       object
Latitude                      float64
Longitude                     float64
Mapped Location                object
dtype: object

In [4]:
#Import datetime library
import datetime

In [5]:
import_df.columns

Index(['Accident Number', 'Date and Time', 'Number of Motor Vehicles',
       'Number of Injuries', 'Number of Fatalities', 'Property Damage',
       'Hit and Run', 'Reporting Officer', 'Collision Type Code',
       'Collision Type Description', 'Weather Code', 'Weather Description',
       'Illumination Code', 'Illumination Description', 'Harmful Code',
       'Harmful Code Description', 'Street Address', 'City', 'State', 'Zip',
       'RPA', 'Precinct', 'Latitude', 'Longitude', 'Mapped Location'],
      dtype='object')

In [6]:
ana_df=import_df[['Accident Number', 'Date and Time','Latitude', 'Longitude']]
ana_df.head(2)

   Accident Number           Date and Time  Latitude  Longitude
0      20181075326  12/31/2018 11:10:00 PM   36.1769   -86.5971
1      20181075323  12/31/2018 11:09:00 PM   36.1770   -86.7746

In [7]:
ana_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34479 entries, 0 to 34478
Data columns (total 4 columns):
Accident Number    34479 non-null int64
Date and Time      34479 non-null object
Latitude           34446 non-null float64
Longitude          34446 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.1+ MB

In [8]:
# convert the 'Date' column to datetime format 
ana_df['Date']= pd.to_datetime(ana_df['Date and Time'])
ana_df.head(2)
ana_df.dtypes

/anaconda3/envs/2019zachary/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Accident Number             int64
Date and Time              object
Latitude                  float64
Longitude                 float64
Date               datetime64[ns]
dtype: object

In [10]:
ana_df.Date.dt.hour

0        23
1        23
2        22
3        22
4        22
5        22
6        22
7        21
8        21
9        21
10       20
11       20
12       20
13       20
14       20
15       19
16       18
17       18
18       18
19       18
20       17
21       17
22       17
23       17
24       17
25       17
26       16
27       16
28       16
29       16
         ..
34449     9
34450     9
34451     9
34452     8
34453     8
34454     8
34455     5
34456     5
34457     3
34458     2
34459     1
34460     1
34461     1
34462     1
34463     1
34464     1
34465     0
34466     0
34467     0
34468     0
34469     0
34470     0
34471     0
34472     0
34473     0
34474     0
34475     0
34476     0
34477     0
34478     0
Name: Date, Length: 34479, dtype: int64